@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    height: 100px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
}

.logo {
    display: flex;
    column-gap: 10px;
}

.logo img {
    height: 40px;
}

.logo .logo-color {
    color: #FF42A5;
}

nav>ul {
    display: flex;
    column-gap: 70px;
}

nav ul li {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 500;

}

nav ul li a {
    text-decoration: none;
    color: #3C354F;
}

.active-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 25px;
}

.active-btn .youtube-icon {
    padding: 0px 10px;
    color: #F61C0D;
}

/* play like section start */
.play-like-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 250px;
}

.play-like-content-left {
    background-image: url(../images/Group\ 14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    padding: 217px 0px;
}

.play-like-content-left h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.play-like-content-left h1 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-like-content-left p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    padding-bottom: 5px;
}

.play-like-content-left .icon-styles {
    color: red;
    padding-right: 12px;
}

.play-like-content-right {
    width: 50%;
}

.play-like-content-right img {
    width: 100%;
    height: auto;
}

/* play like section end */
/* online games section start */
.online-games-section {
    padding: 0px 250px;
}

.online-games-section h1 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.online-games-section .game-title-gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-section p {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 15px;
}

.online-main-games-container {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}

.games-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.games-container .card {
    flex: 1;
    margin: 20px 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.games-container .card:hover {
    border: 3px solid #AA53DE;
}

/* online games section end */
/* play games anywhere section start */
.play-anywhere-section {
    min-height: 700px;
    padding: 60px 250px;
}

.play-anywhere-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-anywhere-left {
    width: 50%;
    position: relative;
}

.play-anywhere-left img {
    width: 70%;
    height: auto;
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.play-anywhere-left .position-img {
    position: absolute;
    top: 70%;
    left: 55%;
}

.play-anywhere-left .position-img img {
    height: 250px;
    width: 200px;
}

.play-anywhere-right {
    width: 50%;
}

.play-anywhere-right h1 {
    font-size: 3rem;
    font-weight: 700;
}

.play-anywhere-right .anywhere-right-gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-anywhere-right p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10px;
}

/* play games anywhere section end */
/* games name section start */
.games-name-section {
    min-height: 300px;
    padding: 60px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games-name-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.games-name-section .game-card {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding: 6px 10px;
    border-radius: 40px;
    border: 2px solid #FFF;
}

.games-name-section .game-card:hover {
    border: 2px solid #D16FD7;
}

.games-name-section .game-card p {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
}

/* games name section end */
/* footer section start */
.footer-section {
    background: #0B0223;
    min-height: 420px;
    padding: 0 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.footer-logo img {
    width: 70px;
}

.footer-logo h2 {
    color: #FFF;
    font-size: 2.3rem;
    font-weight: 700;
}

.footer-logo .footer-logo-color {
    color: #FF42A5;
}

.our-services-container {
    display: flex;
    column-gap: 50px;
}

.our-services-container h3 {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    padding: 30px 0px;
}

.footer-icon-link {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.footer-icon-link li {
    list-style: none;
}

.footer-icon-link li a {
    text-decoration: none;
    font-size: 2rem;
    color: #FFF;
}

.our-terms-condition,
.copy-right h3 {
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

.our-terms-condition h3,
.copy-right h3 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    padding: 30px 0px;
}

.copy-right {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.copy-right h3 {
    padding: 0px 0px;
}

/* footer section end */